* {
    box-sizing: border-box;
}

body {
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    color: #75B79E;
    display: flex;
    justify-content: center;
    padding: 40px 0px 47px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
}

.card {
    height: 146px;
    width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A7E9AF;
    margin: 0px 20px 34px;
    border-radius: 5px;
    border: 2px solid #99cea8;
    transition: transform .5s;
    transform-style: preserve-3d;
}
/*
.front-card {
    transform: rotateY(180deg);
}
*/
.flip {
    transform: rotateY(180deg);
  }

img {
    height: 100px;
    width: 100px;
}

.hide {
    display: none;
}
